html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
  text-align: center;
  color: #fff;
  border-bottom: 5px solid #595652;
  border-top: 5px solid #595652;
}
head {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}

nav ul {
  margin: auto;
  list-style-type: none;
  text-align: center;
}

h1 {
  color: #fff;
  text-align: center;
  margin: .3em .3em auto;
  padding: 0;
  font-family: baven, cursive;
  font-weight: bold;
}

nav li {
  display: inline-block;
  text-align: center;
  margin: .3em auto;
}

nav a {
  display: inline-block;
  padding: .5em .75em;
  border-radius: .3em;
  background-color: #713837;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  background: #f33;
}
